node_modules/
GIT-VERSION-CONTROL/
REACT-FRONTEND/642-OLD-PROJECTS/
.DS_Store   
.env
.vscode/

.idea/
*.log
REACT-FRONTEND/REACT-NATIVE-SANDBOX/MyApp/build/42-OLD-PROJECTS/42-OLD-PROJECTS/42-OLD-PROJECTS/